{% extends 'base.html' %}
{% block content %}

<h1> Book Details </h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{book.title }}</span>
                <p><strong>Author: {{ book.author }}</strong></p>
                <p>Synopsis: {{ book.synopsis }}</p>
                <p>Genre: {{ book.genre }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    